{extend name='extra@main' /}

{block name='style'}

{/block}

{block name='content'}
	<header>
		<div class="page-header">
		  	<h4>修改密码 <small>index/user/edit</small></h4>
		</div>
	</header>
	<form id='edit' onsubmit="return false">
	  	<div class="form-group">
	    	<label for="oldPassword">旧的密码</label>
	    	<input type="password" class="form-control" id="oldPassword" name='oldPassword' placeholder="oldPassword">
	  	</div>
	  	<div class="form-group">
	    	<label for="newPassword">新的密码</label>
	    	<input type="password" class="form-control" id="newPassword" name='newPassword' placeholder="newPassword">
	  	</div>
	  	<div class="form-group">
	    	<label for="rePassword">确认密码</label>
	    	<input type="password" class="form-control" id="rePassword" name='rePassword' placeholder="rePassword">
	  	</div>
	  	<button type="submit" class="btn btn-default">Submit</button>
	</form>
{/block}

{block name='script'}
	<script>
		$('.btn.btn-default').click(function () {
			var params = paramsFromForm($('#edit').serialize())
			if ($.trim(params.oldPassword) === $.trim(params.newPassword)) {
				toastr.warning('新旧密码不能相同')
				return
			}
			if ($.trim(params.newPassword) !== $.trim(params.rePassword)) {
				toastr.warning('新密码与确认密码不相同')
				return
			}

			$.ajax({
				type: "POST",
				url: '/index/user/edit',
				data: $('#edit').serialize(),
				success: function(res) {
					// console.log(res) 
					if (res.code === 1) {
						toastr.options.onHidden = function() { 
							location.href = res.url
						}
						toastr.warning('修改成功，请重新登录')
					} else {
						toastr.warning('修改失败')
					}
				},
				error: function(err) {
					console.log(err)
				}
			})
		})
	</script>
{/block}