<!-- start navigation -->
<nav class="main-navigation">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/blog/index/index">
                        <img alt="Brand" src="__IMAGES__/brand.png">
                    </a>
                    <span class="nav-toggle-button collapsed nav-toggle-right" data-toggle="collapse" data-target="#main-menu">
                        <span class="sr-only">Toggle navigation</span>
                        <i class="fa fa-bars"></i>
                    </span>
                </div>
                <div class="collapse navbar-collapse menu" id="main-menu">
                    <ul class="nav navbar-nav navbar-left">
                        <!--<li class="nav-current" role="presentation"><a href="{:url('/blog/index/posts')}">首页</a></li>-->
                        {foreach name='cates' item='cate'}
                            {if ($cate.id == $Request.param.cid)}
                            <li class="nav-current" role="presentation">
                                {if $cate.id == -1}
                                <a href="/blog/index/about">{$cate.name}</a>
                                {else /}
                                <a href="/blog/index/posts?cid={$cate.id}">{$cate.name}</a>
                                {/if}
                            </li>
                            {else /}
                            <li role="presentation">
                                {if $cate.id == -1}
                                <a href="/blog/index/about">{$cate.name}</a>
                                {else /}
                                <a href="/blog/index/posts?cid={$cate.id}">{$cate.name}</a>
                                {/if}
                            </li>
                            {/if}
                        {/foreach}
                        <!--<li role="presentation"><a href="/blog/index/about">关于</a></li>-->
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a class="search-bar">
                                <i class="search fa fa-search"></i>
                                <input class="search-content" name="s" type="s" placeholder="请输入文章标题">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>